/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row,
    .col {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1;
        flex-direction: column;
	}

    .button {
        margin-top: auto;
        align-self: flex-start;
    }

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}
