<!doctype html>
<html lang="en">
<head>
    <title>{project_name}</title>
    <link href="{% url_for('static', filename='{project_slug}.css') %}" rel="stylesheet">
</head>
<body>
    <h1>Welcome to {project_name}!</h1>
    <script src="{% url_for('static', filename='{project_slug}.js') %}"></script>
<//body>
</html>
