.page-content {
  display: flex;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $space;
}

.page-content__sidebar {
  width: $page-content-sidebar-width;
}

.page-content__main {
  width: $page-content-main-width;
}