{% extends "courses/layout.html" %}
{% load course_extras %}

{% block title %}{{ question|default:"New answer" }} | {{ question.quiz.course.title }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:course_detail' course_pk=question.quiz.course.pk %}">{{ question.quiz.course.title }}</a></li>
    <li><a href="{% url 'courses:course_quiz' course_pk=question.quiz.course.pk step_pk=question.quiz.pk%}">{{ question.quiz.title }}</a></li>
    <li>{{ question.prompt }}</li>
{% endblock %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
    </div>
    <div class="row columns">
        <h1>Answer</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <section>
                {{ formset }}
            </section>
            {{ form.as_p }}
            <input type="submit" class="button" value="Save">
        </form>
   </div>
{% endblock %}
