* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem;
}

h2 {
  font-weight: 200;
  font-size: 1.7rem;
}

.title-bar {
  background: #e35557;
  color: #ffffff;
}

.wrapper {
  margin: 0 auto;
}