// Colors
$grey: #dddddd;

// Spacing 
$space: 1.4rem;

// Font sizes
$base-font-size: 1.4rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

// Button
$button-bg: #5b4681;
$button-color: white;
$button-pill-color: #5b4681;